* {
    font-family: 'Merriweather', serif;
}

.header {
    background-image: url('/image/Banner\ Image.png');
    background-repeat: no-repeat;
    margin: 50px 100px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;

}

.head-tittle {
    text-align: center;
    color: white;
    position: relative;
    top: 180px;
    font-size: larger;

}

.head-content {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 200px;
}

/* lower part of Header*/
.header-bottom-tittle {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.header-bottom-midle {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.heder-bottom-bottom {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

#image1 {
    width: 802.9px;
    height: 500px;
    margin: auto
}

/*main part 1*/

.main-1 {
    background-image: url('/image/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.main1-tittle {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding-left: 50px;


}

.main1-para {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    bottom: 80px;
    padding-left: 50px;

}

.main-div2 {
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    padding-top: 50px;

}

#main1-lnk {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 80px;
    position: relative;
    bottom: 50px;
}

.main-2 {
    width: 1320px;
    height: 482px;
    text-align: center;
    padding-top: 200px;
    margin: auto;
    margin-top: 80px;
    background-color: #f0dbe0;
}

.main-2 span {
    color: orangered
}

.btn {
    color: white;
    background-color: orangered;
    border: 0;
    height: 35px;
    width: 100px;
    padding: auto;
    border-radius: 5px;
}

.main-3 {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    height: 500px;
}

.main-3-tittle {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.main-3-content {
    color: #070211;
    font-size: 40px;
}

.main-3-para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    bottom: 50px;
}

.main3-div2 {
    margin-top: 50px;
    margin-right: 100px;
}

.main3-div2 img {
    border: 10px solid orangered;
    border-radius: 300px;
}

.div3-tittle {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main3-div3 img {
    width: 140px;
    height: 140px;
    margin-top: 50px;
}

.main4-tittle {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.main4-content {
    color: #070211;
    font-weight: 900;
    line-height: normal;
    text-align: center;

}

.main4-para {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

}

.main-4 span {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
   
}
.holiday{
    background-image: url('/image/Rectangle\ 1.png'),url(/image/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: right top,right bottom;
    margin:50px;
    
}